*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 20px;
	font-size: 36px;
	font-family: 'Inconsolata', sans-serif;
	background-color: #333;
	color: #fff;
}

div{
	margin: 10px;
}

td{
	border: 1px solid wheat;
	padding: 5px;
}

img{
	display: flex;
	margin: auto;
	border-radius: 25px;
}

.lorem{
	color: lime;
	background-color: #ffead6;
	border: 5px dotted tomato;
	margin: 20px;
	height: 300px;
	text-align: center;
	line-height: 300px;
}

.tomato{
	text-decoration: underline;
	color: hwb(9 28% 0%);
	text-shadow: 5px 5px 10px #858585;
}

ol{
	margin-left: 50px;
}