@use './reset';

body {
	height: 100vh;
	background-color: #333;
	font-family: 'Reddit', sans-serif;
}

.container {
	margin: 20px;
	padding: 50px;
	font-size: 2rem;
	border: 1px solid white;

	.box {
		display: flex;
		justify-content: space-evenly;

		.link {
			position: relative;
			padding: 10px;
			color: white;
		}

		.link,
		.link::after,
		.link::before {
			transition: 0.3s;
		}

		.one::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: white;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.3s;
		}

		.one:hover::after {
			transform: scaleX(1);
			transform-origin: right;
		}

		.two::before,
		.two::after {
			content: '';
			position: absolute;
			width: 0px;
			height: 0px;
		}

		.two::before {
			top: -2px;
			left: -4px;
			border-top: 0px solid white;
			border-left: 0px solid white;
		}

		.two::after {
			bottom: -2px;
			right: -4px;
			border-bottom: 0px solid white;
			border-right: 0px solid white;
		}

		.two:hover::before,
		.two:hover::after {
			width: 20px;
			height: 15px;
		}

		.two:hover::before {
			border-top: 1px solid white;
			border-left: 1px solid white;
		}

		.two:hover::after {
			border-bottom: 1px solid white;
			border-right: 1px solid white;
		}

		.three::before,
		.three::after {
			content: '';
			position: absolute;
			width: 0;
			bottom: 0;
			border-bottom: 1px solid white;
		}

		.three::before {
			right: 50%;
		}

		.three::after {
			left: 50%;
		}

        .three:hover::before,
		.three:hover::after {
			width: 50%;
		}

        .four {
            z-index: 0;
        }

        .four:hover {
            color: #333;
        }

        .four::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: white;
            z-index: -1;
        }

        .four:hover::after {
            height: 100%;
        }

        .five {
            z-index: 0;
        }

        .five:hover {
            animation: blink .5s;
            color: #333;
        }

        .five::before,
        .five::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 0;
            background-color: white;
            z-index: -1;
        }

        .five::before {
            left: 0;
        }

        .five::after {
            right: 0;
        }

        .five:hover::before,
        .five:hover::after {
            animation: background .5s .4s forwards;
        }

        @keyframes background {
            from {
                width: 0;
            }

            to {
                width: 50%;
            }
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            10% {
                opacity: 0;
            }

            20% {
                opacity: 0;
            }

            30% {
                opacity: 1;
            }

            40% {
                opacity: 1;
            }

            60% {
                opacity: 0;
            }

            75% {
                opacity: 0;
            }

            1000% {
                opacity: 1;
            }

        }
	}
}
