*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: #333;
}

.square{
    height: 300px;
    width: 300px;
    background-color: gold;
}

@media (width >= 480px){
    .square{
        background-color: royalblue;
    }
}

@media (width >= 720px){
    .square{
        background-color: lime;
    }
    body{
        background-image: linear-gradient(326deg, #123456, #654321);
    }
}

@media (720px > width >= 480px){
    .square{
        width: 450px;
    }
}
