@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-size: 36px;
	height: 100vh;
	font-family: 'Inconsolata', sans-serif;
	background-color: royalblue;
	color: whitesmoke;
}

.p-lorem1{
	text-align: center;
	font-size: 50px;
	color: gold;
}

span{
	font-size: 50px;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.p-lorem2{
	font-size: 70px;
	color: tomato;
}
