@use './reset';

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: gold;
    border: 3px solid black;
    color: black;
}

.one {
    display: flex;
}

.two {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.three {
    display: flex;
    flex-direction: column-reverse;
}