@use './reset';

body {
	font-family: 'Ubuntu', sans-serif;
}



.info-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;

	.card {
		position: relative;
		margin: 10px;
		height: 60vh;
		width: 100%;
		text-align: center;
		background-position: center;
		background-size: cover;
		overflow: hidden;

		.img {
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			transition: 1s;
		}

		.two {
			background-image: url('../img/man-1690965_1280.jpg');
		}

		.one {
			background-image: url('../img/portrait-657116_1280.jpg');
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0 20px;
			opacity: 0;
			transition: 1s;
			background-image: linear-gradient(360deg, rgb(100, 0, 160), rgb(100, 0, 160));
		}

		h3 {
			margin-bottom: 20px;
		}

		.text-one {
			transform: rotateX(-180deg);
		}

		.text-two {
			transform: rotateY(-180deg);
		}
	}

	.card:hover .text {
		transform: rotate(0);
		opacity: 1;
	}

	.card:hover .one {
		transform: rotateX(180deg);
		opacity: 0;
	}

	.card:hover .two {
		transform: rotateY(-180deg);
		opacity: 0;
	}
}

.business-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;

	.card {
		position: relative;
		margin: 10px;
		height: 60vh;
		width: 50%;
		text-align: center;
		background-position: center;
		background-size: cover;
		border-radius: 25px 0 25px 0;
		box-shadow: 10px 10px;
		overflow: hidden;

		button {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 10px;
			background-color: rgb(0, 0, 0, 0.7);
			border: none;
			color: white;
			font-size: 2rem;
		}

		button:hover ~ .text {
			translate: 0% 0%;
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: absolute;
			bottom: 0;
			padding: 60px 20px;
			background-color: rgb(0, 0, 0, 0.7);
			translate: 0% 100%;
			transition: translate 0.5s;
			text-wrap: pretty;

			h1,
			h3 {
				color: white;
				text-shadow: 0 0 5px rgb(200, 120, 255), 0 0 10px rgb(200, 120, 255), 0 0 15px rgb(200, 120, 255), 0 0 25px rgb(200, 120, 255), 0 0 35px rgb(200, 120, 255), 0 0 50px rgb(200, 120, 255), 0 0 70px rgb(200, 120, 255);
			}

			h3 {
				margin-bottom: 20px;
			}
		}
	}

	.one {
		background-image: url('../img/man-1690965_1280.jpg');
	}

	.two {
		background-image: url('../img/portrait-657116_1280.jpg');
	}
}
