@use './reset';

body {
	background-color: #fff;
	font-family: 'Nunito';
	font-size: 1.6rem;
	-webkit-tap-highlight-color: #90ee9055;
}

.wrapper {
	position: relative;
	height: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 1300px;
}

h1,
h2,
h3,
h3,
h5,
h6,
.logo {
	font-family: 'Cormorant Garamond';
}

// header

.hide {
	top: -80px;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 0 45px;
	background-color: #d3d3d3;
	transition: top 0.3s;
	
	.wrapper {
		justify-content: space-between;

		// header: logo

		.logo-container {
			display: flex;

			.logo {
				display: flex;
				align-items: center;

				a {
					display: flex;
					align-items: center;
					font-size: 4.5rem;
					font-weight: bold;
					cursor: pointer;

					img {
						height: 4.5rem;
					}
				}
			}
		}

		// header: navigation

		.nav-container {
			display: flex;
			justify-content: flex-end;

			nav {
				ul {
					display: flex;

					li {
						list-style: none;

						a {
							display: block;
							padding: 0 30px;
							line-height: 80px;
							transition: 0.5s background-color;
							font-size: 2rem;

							&:hover,
							&:active,
							&:focus-visible {
								background-color: #90ee90cc;
							}
						}
					}
				}
			}
		}
		.nav-burger {
			position: absolute;
			display: none;
			align-items: center;
			justify-content: center;
			padding: 5px;
			top: 17.5px;
			right: 0;
			height: 45px;
			cursor: pointer;

			.line,
			.line::before,
			.line::after {
				content: '';
				display: block;
				position: absolute;
				width: 45px;
				height: 4px;
				background: black;
				transition: transform 0.5s, top 0.3s, background 0.3s;
				transform-origin: center;
			}

			.line {
				position: relative;

				&::before {
					top: -15px;
				}

				&::after {
					top: 15px;
				}
			}

			.burger-x {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg);
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

// mobile max-width: 900px

@media (max-width: 900px) {
	header {
		padding: 0 15px;

		.wrapper {
			.nav-container {
				nav {
					position: fixed;
					width: 100%;
					height: 100vh;
					padding: 40px 0px;
					top: 80px;
					right: 0;
					transform: translateX(100%);
					background-color: #f3f3f3;
					transition: transform 0.6s;

					ul {
						width: 100%;
						flex-direction: column;

						li {
							a {
								display: flex;
								justify-content: center;
								padding: 0 15px;
							}
						}
					}
				}

				.nav-show {
					transform: translateX(0%);
				}
			}

			.nav-burger {
				display: flex;
			}
		}
	}
}

// mobile max-width: 500px

@media (max-width: 500px) {
	header {
		.wrapper {
			.logo-container {
				.logo {
					a {
						font-size: 3.5rem;

						img {
							height: 3.5rem;
						}
					}
				}
			}
		}
	}
}
