@use './main';

.hero-main-text {
	min-height: 300px;
}

// mobile max-width: 900px

.contact {
	padding: 50px 30px;
	margin: 30px auto;
	align-items: center;

	&-desc {
		display: flex;
		gap: 50px 30px;
		height: 400px;
		width: 100%;

		.contact-map {
			width: 50%;

			iframe {
				width: 100%;
				height: 100%;
			}
		}

		.contact-form {
			display: flex;
			flex-direction: column;
			width: 50%;
			align-items: center;

			.contact-box {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin: 10px 0;

				input,
				textarea {
					padding: 5px;
					font-size: 1.4rem;
					font-family: inherit;
					border: 1px solid black;
				}

				textarea {
					resize: none;
                    height: 100px;
				}

				label {
					margin-bottom: 5px;
					font-size: 1.8rem;
				}
			}

			button {
				margin-top: 15px;
				padding: 10px 40px;
				background-color: #fff;
				transition: background-color 0.3s;
				font-size: 2rem;

				&:hover {
					background-color: rgba(144, 238, 144, 0.8);
				}
			}
		}
	}
}

// mobile max-width: 900px

@media (max-width: 900px) {
	.contact {
		&-desc {
			height: auto;
			flex-direction: column;
			align-items: center;

			.contact-map {
				width: 80%;

				iframe {
					height: 400px;
				}
			}

			.contact-form {
				width: 80%;
			}
		}
	}
}

// mobile max-width: 500px

@media (max-width: 500px) {
	.contact {
		&-desc {
			.contact-map {
				width: 100%;

				iframe {
					height: 400px;
				}
			}

			.contact-form {
				width: 100%;

                button {
                    width: 100%;
                }
			}
		}
	}
}
