@use './main';

.hero-main-text {
	min-height: 300px;
}

// mobile max-width: 900px

.contact {
	padding: 50px 30px;
	margin: 30px auto;
	align-items: center;
	flex-direction: column;

	h1 {
		position: relative;
		margin-bottom: 40px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			border: 1px solid rgba(144, 238, 144, 0.8);
		}
	}

	&-desc {
		display: flex;
        gap: 30px;
		height: 400px;
        width: 100%;

		.contact-map {
			width: 50%;

			iframe {
				width: 100%;
				height: 100%;
			}
		}

		form {
			width: 50%;

			h2 {
				margin-bottom: 20px;
			}

			p {
				height: 80%;
				overflow: hidden;
				line-height: 1.8;
			}
		}
	}
}

@media (max-width: 900px) {
	.contact {
		&-desc {
			height: auto;
			flex-direction: column;
			align-items: center;

			img {
				width: 100%;
				margin-right: 0;
			}

			div {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}

// .contact-form {
// 	padding: 30px;
// 	width: 600px;
// 	background-color: #fff;
// 	border-radius: 24px;
// }

// .contact-box {
// 	display: flex;
// 	flex-direction: column;
// 	margin: 40px 0;
// }

// .contact-form label {
// 	margin-bottom: 10px;
// 	font-size: 22px;
// }

// .contact-form input,
// .contact-form textarea,
// .contact-form button {
// 	padding: 15px;
// 	font-size: 16px;
// 	font-family: inherit;
// 	border: 2px solid hsl(0, 0%, 67%);
// 	border-radius: 12px;
// }

// .contact-form textarea {
// 	resize: vertical;
// 	min-height: 150px;
// }

// .contact-form button {
// 	padding: 12px;
// 	width: 100%;
// 	cursor: pointer;
// }

// .contact-form button:hover {
// 	color: #fff;
// 	background-color: hsl(220, 100%, 50%);
// }
