@use './reset';

body {
	background-color: #e3e3e3;
	font-family: 'Nunito';
	font-size: 1.6rem;
	-webkit-tap-highlight-color: rgba(144, 238, 144, 0.4);
}

body::selection {
	background-color: rgba(144, 238, 144, 0.4);
}

h1,
h2,
h3,
h3,
h5,
h6,
.logo {
	font-family: 'Cormorant Garamond';
}

a {
	transition: 0.5s color;
}

.wrapper {
	position: relative;
	height: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 1300px;
}

// header: logo & navigation

.hide {
	top: -80px;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 0 45px;
	background-color: #e3e3e3;
	transition: top 0.3s;
	z-index: 2;

	.wrapper {
		justify-content: space-between;

		// header: logo

		.logo-container {
			display: flex;

			.logo {
				display: flex;
				align-items: center;

				a {
					display: flex;
					align-items: center;
					font-size: 4.5rem;
					font-weight: bold;
					cursor: pointer;

					img {
						height: 4.5rem;
					}
				}
			}
		}

		// header: navigation

		.nav-container {
			display: flex;
			justify-content: flex-end;

			nav {
				ul {
					display: flex;

					li {
						list-style: none;

						a {
							display: block;
							padding: 0 30px;
							line-height: 80px;
							transition: 0.5s background-color;
							font-size: 2rem;

							&:hover,
							&:active,
							&:focus-visible {
								background-color: rgba(144, 238, 144, 0.8);
							}
						}
					}
				}
			}
		}
		.nav-burger {
			position: absolute;
			display: none;
			align-items: center;
			justify-content: center;
			padding: 5px;
			top: 17.5px;
			right: 0;
			height: 45px;
			cursor: pointer;

			.line,
			.line::before,
			.line::after {
				content: '';
				display: block;
				position: absolute;
				width: 45px;
				height: 4px;
				background: black;
				transition: transform 0.5s, top 0.3s, background 0.3s;
				transform-origin: center;
			}

			.line {
				position: relative;

				&::before {
					top: -15px;
				}

				&::after {
					top: 15px;
				}
			}

			.burger-x {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg);
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

// main hero section

.hero {
	position: relative;
	background-size: cover;
	background-position: center;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
	}

	&::before {
		top: 0;
		height: 10px;
		background: linear-gradient(135deg, #e3e3e3 10%, transparent 80%);
	}

	&::after {
		bottom: 0;
		height: 10px;
		background: linear-gradient(-135deg, #e3e3e3 10%, transparent 80%);
	}

	&-bg {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&-text {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 25px;
		color: white;

		p,
		h1 {
			z-index: 1;
		}

		p {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				border: 1px solid white;
			}
		}

		h1 {
			text-shadow: 2px 2px black;
		}
	}
}

.hero-main {
	background-image: url('https://cdn.pixabay.com/photo/2016/11/08/04/49/jungle-1807476_1280.jpg');

	&-text {
		min-height: 600px;

		h1 {
			margin-top: 20px;
		}
	}
}

.hero-button {
	background-image: url('https://cdn.pixabay.com/photo/2020/11/28/19/18/girl-5785590_1280.jpg');

	&-text {
		min-height: 300px;

		h1 {
			padding: 20px 150px;
			border: 1px solid rgba(144, 238, 144, 0.8);
		}
	}
}

// about us section

.about_us {
	padding: 50px 30px;
	margin: 30px auto;
	align-items: center;
	flex-direction: column;

	h1 {
		position: relative;
		margin-bottom: 40px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			border: 1px solid rgba(144, 238, 144, 0.8);
		}
	}

	&-desc {
		display: flex;
		height: 400px;

		img {
			width: 50%;
			margin-right: 50px;
			object-fit: cover;
		}

		div {
			width: 50%;

			h2 {
				margin-bottom: 20px;
			}

			p {
				height: 80%;
				overflow: hidden;
				line-height: 1.8;
			}
		}
	}
}

// offer section

#offer {
	padding: 50px 20px;
	margin: 30px auto;
	align-items: center;
	flex-direction: column;

	h1 {
		position: relative;
		margin-bottom: 10px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			border: 1px solid white;
		}
	}

	> p {
		margin-bottom: 40px;
	}

	.offers {
		width: 100%;
		max-width: 1000px;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: space-evenly;

		.offer {
			display: flex;
			flex-direction: column;
			align-items: center;
			min-width: 250px;
			padding: 30px;
			border: 1px solid black;
			box-shadow: 5px 5px rgba(144, 238, 144, 0.8);
			transition: background-color 0.3s;

			h3 {
				margin-bottom: 10px;
			}

			p {
				font-size: 5rem;
			}

			ul {
				li {
					margin: 10px 0;
				}

				.out-of-package {
					color: rgb(185, 185, 185);
				}
			}

			button {
				margin-top: 15px;
				padding: 10px 40px;
				background-color: #fff;
				transition: background-color 0.3s;
				font-size: 2rem;

				&:hover {
					background-color: rgba(144, 238, 144, 0.8);
				}
			}
		}
	}
}

// footer

footer {
	width: 100%;
	padding: 0 20px;
	background-color: #d3d3d3;

	.wrapper {
		justify-content: space-between;
		padding: 70px 20px;

		.logo-container {
			display: flex;

			.logo {
				display: flex;
				align-items: flex-start;

				a {
					display: flex;
					align-items: center;
					font-size: 4.5rem;
					font-weight: bold;
					cursor: pointer;

					img {
						height: 4.5rem;
					}
				}
			}
		}

		.site-map {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px 50px;

			div {
				min-width: 150px;

				ul {
					list-style: none;

					li {
						margin-top: 10px;
					}
				}
			}
		}
	}

	.copyright {
		padding: 20px 0px;
		border-top: 1px solid rgba(44, 68, 44, 0.95);

		p {
			text-align: center;
		}
	}
}

// mobile max-width: 900px

@media (max-width: 900px) {
	header {
		padding: 0 15px;

		.wrapper {
			.nav-container {
				nav {
					position: fixed;
					display: flex;
					align-items: center;
					// top: 80px;
					left: 0;
					width: 100%;
					height: 100vh;
					padding: 40px 0px;
					background-color: rgba(44, 68, 44, 0.95);
					transform: translateX(100%);
					transition: transform 0.6s;
					overflow-x: hidden;

					ul {
						width: 100%;
						flex-direction: column;

						li {
							a {
								color: white;
								display: flex;
								justify-content: center;
								padding: 0 15px;
							}
						}
					}
				}

				.nav-show {
					transform: translateX(0%);
				}
			}

			.nav-burger {
				display: flex;
			}
		}
	}

	.hero-main-text h1 {
		padding: 0 30px;
		text-align: center;
	}

	.hero-button-text h1 {
		margin: 0 40px;
		padding: 20px 60px;
		text-align: center;
	}

	.about_us {
		&-desc {
			height: auto;
			flex-direction: column;
			align-items: center;

			img {
				width: 100%;
				margin-right: 0;
			}

			div {
				width: 100%;
				margin-top: 20px;
			}
		}
	}

	footer {
		.wrapper {
			flex-direction: column;

			.logo-container {
				justify-content: center;
				padding-bottom: 40px;
			}
		}
	}
}

// mobile max-width: 500px

@media (max-width: 500px) {
	header {
		.wrapper {
			.logo-container {
				.logo {
					a {
						font-size: 3.5rem;

						img {
							height: 3.5rem;
						}
					}
				}
			}
		}
	}

	.hero-button-text h1 {
		padding: 15px 30px;
	}

	#offer {
		.offers {
			.offer {
				width: 100%;
			}
		}
	}
}
