@use './reset';
@use './color' as c;
@mixin circle {
	width: 100px;
	height: 100px;
	margin: 30px auto;
	background-color: plum;
	border: 3px solid black;
	border-radius: 50%;
}

html {
	font-size: 10px;
}

body {
	font-family: sans-serif;
}

h1,
h2,
h3 {
	color: c.$color-header;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
}

p {
	font-size: 1.6rem;
}

section {
	height: 25vh;
	text-align: center;
}

.even {
	background-color: c.$color-section-even;
}

.odd {
	background-color: c.$color-section-odd;
}

.circle {
	@include circle;
}
