* {
	box-sizing: border-box;
}

body {
	background-color: #333;
	font-size: 25px;
}

.square {
	position: absolute;
	left: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-50%);
	background-color: lightblue;
	box-shadow: 0 0 15px lightblue;
	border-radius: 25px;
}

.square:hover {
	background-color: white;
	box-shadow: 0 0 15px white;
}

.one {
	left: 25%;
	transition: width 2s 0.5s, background-color 2s;
}

.two {
	left: 50%;
	transition: width 2s 3s;
}

.three {
	left: 75%;
	transition: width 2s 1s;
}

.one:hover {
	width: 150px;
}

.one:hover ~ .two {
	width: 150px;
}

.one:hover ~ .three {
	width: 150px;
}
