@use './reset';

body {
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #333;
    font-size: 40px;
}

section {
    display: flex;
    margin: 20px 0;
    height: 300px;
    border: 5px solid black;
}

.square {
    width: 200px;
    text-align: center;
}

.one {
    background-color: gold;
}

.two {
    background-color: lime;
}

.three {
    background-color: royalblue;
}

.four {
    background-color: tomato;
}

.first {
    flex-direction: column;
}

.first > .two, .first > .four {
    flex-grow: 1;
}

.second {
    justify-content: space-around;
    align-items: center;
}

.third > .one{
    order : 2;
    flex-grow: 1;
}

.third > .two{
    order : 1;
}

.third > .four{
    flex-grow: 3;
}

.fourth {
    flex-direction: row-reverse;
    align-items: flex-end;
}

.fourth > .two {
    align-self: flex-start;
}

.fourth > .three {
    align-self: center;
}