* {
	box-sizing: border-box;
}

body {
	background-color: #333;
	font-size: 25px;
}

div {
	background-color: yellow;
}

p {
	background-color: yellowgreen;
}

span {
	background-color: green;
	display: inline-block;
	margin-bottom: 50px;
}

img {
	height: 50px;
}

main{
    position: relative;
	/* default is position: static, relative gives us possibility to use top/left/right/bottom property*/
}

.box {
	height: 150px;
	width: 300px;
	margin: auto;
}

.red {
	background-color: red;
	border: 3px solid yellow;
}

.blue {
	background-color: blue;
	border: 3px solid orange;
	margin: 3px;
	/* position: relative; */
	top: -0px;
	left: 6px;
	z-index: -1;
}
.violet {
	background-color: violet;
    border: 3px solid darkorchid;
	width: 50px;
	height: 50px;
    margin: 0px;
    position: absolute; /* ABSOULTE is positioning to the parent/grandparent that has different POSITON than STATIC, that is why we usually use position: relative */
    top: 0px
}

.green {
	background-color: green;
	border: 3px solid pink;
}
