@use './reset';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: black;
    font-size: 50px;
}

section {
    margin: 20px 0;
    height: 400px;
    background-color: #789;
}

.square {
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

.one {
    background-color: gold;
}

.two {
    background-color: lime;
}

.three {
    background-color: royalblue;
}

.four {
    background-color: tomato;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.third {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}